<h1>Ajouter un moyen de transport de folie</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for @transport do |f| %>
      <p><%= f.input :brand, placeholder: "Write the type of transport" %></p>
      <p><%= f.input :horse, placeholder: "Which power" %></p>
      <p><%= f.input :year, placeholder: "Year" %></p>
      <p><%= f.input :price, placeholder: "Price per day" %></p>
      <p><%= f.input :photos, as: :file, input_html: { multiple: true } %></p>
        <%= f.submit "Submit list", class: "btn btn-primary" %>
      <% end %>
    </div class='container'>
      <div class="row">
        <div class="col">
          <%= link_to "Home", root_path(@transports), class: "btn btn-warning my-3" %><br />
        </div>
      </div>
  </div>
</div>
