<div class="booking">
  <div class="joe">
    <h1>Your bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="text-white" text>
        <p>Start :<%= booking.reservation_begin %></p>
        <p>End-date : <%= booking.reservation_end %></p>
        <p>Modèle : <%= booking.transport.brand %></p>
        <p>Price : <%= booking.transport.price %> by day</p>
        <br>
      </div>
    <% end %>
  </div>


  <div class="joe">
    <h1>My Garage</h1>
    <div class="">
      <% @transports.each do |transport| %>
        <div class="text-white">
          <p>Modele :<%= transport.brand %></p>
          <p>Power :<%= transport.horse %></p>
          <p>Year : <%= transport.year %></p>
          <p>Price : <%= transport.price %> $</p>
          <br>
        </div>
      <% end %>
  </div>
</div>
